@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;800&display=swap');

$f_regular: 300;
$f_bold: 600;
$f_black: 800;

$c_white: #fff;
$c_blue: #0075BE;

@mixin nunitoWeight($w:300) {
	font-weight: $w;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-5deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(10deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-15deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-2deg); }
}

// Definitions

img { display: block; width: 100%; }
ul { margin-bottom: 0; padding-left: 0; list-style-position: inside; }
h3 { color: $c_blue; font-size: 24px; font-weight: $f_black; margin-bottom: 40px; }
h4 { font-size: 22px; font-weight: $f_black; margin: 1em 0; }
h5 { font-size: 20px; font-weight: $f_bold;  }

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; margin-bottom: 30px; }
.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.cov-lp { font-family: 'Nunito', sans-serif; }
.cv-section { padding-top: 80px;
	&.cv-sucursales { padding-top: 50px; }
}
.cv-section-title { color: $c_blue; display: block; text-align: center; font-size: 32px; font-weight: $f_black; margin-bottom: 54px; }

// Header
.cv-header { padding: 24px 0; border-bottom: 1px solid #B0FFD3; margin-bottom: 72px; }
.cv-logo { max-width: 250px; margin: 0 auto; }
.cv-menu { text-align: center; margin-top: 24px;

	li { display: inline-block; margin-right: 16px;
		&:last-child { margin-right: 0;  }
	}
	a {  @include nunitoWeight($f_bold); color: $c_white; display: block;  }
}

// Hero
.cv-hero { background: #409FD8 url('../img/bkg-hero.png') bottom center no-repeat; background-size: contain; padding-bottom: 24px; text-align: center;
	/*&:after { height: 110px; width: 100px; background: #409FD8 url('../img/bkg-hero-bottom.png') bottom center no-repeat; }*/
}
.cv-hero-logo { max-width:758px; margin: 0 auto 32px; }
.cv-hero-content { color: $c_white; }
.cv-main-button { background: #FF7B00; color: $c-white; display: inline-block; font-size: 18px; @include nunitoWeight($f_black); max-width: 440px; border-radius: 50px; padding: 24px 32px 24px 80px; margin-bottom: 60px; line-height: 32px; transition: all .3s ease-in; position: relative;
	&::before{ width: 32px; height: 32px; background: url('../img/icon-phone.png') center center no-repeat; background-size: contain; display: block; content:""; position: absolute; left: 32px; }
	&:hover{ color: $c-white; text-decoration: none; transform: scale(1.1); box-shadow:0px 2px 8px  rgba(0,0,0,0.5);
		&::before { animation: shake 0.5s; animation-iteration-count: infinite; }
	}
}

.cv-hero-text { margin-bottom: 32px;
	p { font-size: 20px; }
}

.cv-hero-bullets { list-style: none; padding-left: 0;
	img { max-width: 80px; margin: 0 auto 24px; }
	li { margin-bottom: 30px;
		span { display: block; font-size: 14px; @include nunitoWeight(400); line-height: 1.2; }
	}
}

.cv-content { background: url('../img/bkg-hero-bottom.png') top center no-repeat; background-size: contain;  padding-top: 100px; }

.cv-sucursales {
	h5 { margin-bottom: 8px; }
	ul { margin-bottom: 16px; list-style:none; }
}
.cv-suc-map { font-size: 12px; font-weight: $f_black; margin-left: 8px  }

.cv-cta { justify-content: center; align-items: center; padding-top: 30px;  }

.cv-faq-section { margin-bottom: 32px; }
.faq-list-box { margin-bottom: 16px;
	&:last-child { margin-bottom: 0;  }
	dt { font-weight: $f_bold; padding-bottom: 8px; cursor: pointer; display: block;
		&.collapsed {
			&::after { transform: rotate(0deg);  }
		}
		&::after { width: 16px; height: 16px; background: url('../img/down-arrow.png') center center no-repeat; background-size: contain; display: inline-block; content:""; padding-top: 3px; margin-left: 16px; transform: rotate(180deg); transition: all .3s ease-in; }
	}
	//dd { padding-top: 8px}
}
@media (min-width: 768px) {
	.cv-suc-cols { column-count: 3; column-gap: 30px }
}

.cv-footer { border-top: 1px solid #EAEAEA; color: #ADADAD; font-size: 12px; padding: 16px 0; text-align: center;
	ul { list-style: none;  }
	li { display: inline-block; margin-right: 8px;
		&:last-child{ margin-right: 0; }
	}
}
