@import '../../../assets/scss/bootstrap.scss';
@import 'iconfont-chopo.scss';
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');

$c-white: #ffffff;
$c-black: #000000;
$azul-light: #36A9E0;
$azul-dark: #1E70B7;
$azul-dark-2: #002F58;
$verde_base: #35A93F;
$c-border: #D8D8D8;
$c-gray-text: #4A4A4A;
$c-gray-light: #848484;
$c-gray-lighter :#EFEFEF;
$c-footer: #F5F5F5;

$section-padding: 60px;

$bk-sm: 576px;
$bk-md: 768px;
$bk-lg: 992px;
$bk-xl: 1200px;

@mixin fontRaleway(){ font-family: 'Raleway', sans-serif; };
@mixin sectionPadding($top: $section-padding, $bottom: $section-padding){
	padding-top: $top; padding-bottom: $bottom;
}
@mixin transition (){
	transition: all .3s ease-in;
}

@keyframes animationPin {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100px);
    opacity: 0;
  }
}

// -----------------------------
// -----------------------------
// Body
// -----------------------------
// -----------------------------
* {
	&:selection { color: white; background: black;}
}


body { @include fontRaleway(); }
// -----------------------------
// -----------------------------
// Header
// -----------------------------
// -----------------------------
.header { text-align: center;
	h1 { font-size: 24px; color: $azul-dark; margin-bottom: 1em; font-weight: 700; 
		@include media-breakpoint-up(md) { font-size: 42px; }
	}
	h2 { background: $verde_base; border-radius: 5px; color: $c-white; display: block; font-size: 16px; font-weight: 700; max-width: 300px; margin: 20px auto; padding: 8px; }
}
.header-bkg { background: url("../img/bkg-jm.jpg") no-repeat center center; background-size: cover; padding-top: 16px; padding-bottom: 16px;
	@include media-breakpoint-up(md) { padding-top:40px; padding-bottom: 40px;  }
}
.header-title { @include sectionPadding(); }
.header-logo { max-width: 450px; width: 100%; margin: 0 auto; display: block; border:8px solid $c-white; padding: 12px;
	img { background: rgba(255,255,255,0.8); padding:40px; width: 100%; }
}
.logo-chopo { max-width: 160px; width: 100%; }

.intro-text { 
	@include media-breakpoint-up(md) {
		columns: 2; column-gap: 30px; margin-bottom: $section-padding;
	}
	
	p { color: $c-gray-light; line-height: 1.8em; }
}  
// -----------------------------
// -----------------------------
// Agenda
// -----------------------------
// -----------------------------
.agenda { padding-bottom: $section-padding;
	header { @include sectionPadding(); border-top: 1px dotted $c-border; text-align: center;
		h2 { color: $azul-dark; font-weight: bold; font-size: 32px; margin-bottom: 1em;  }
	}
}

.agenda-day { margin-bottom: 40px; }

.agenda-ini {  border-radius: 10px; padding: 40px 20px; text-align: center; width: 100%; 
	h3 { font-size: 21px; color: $c-gray-text; font-weight: 700; }
	.icon-container { animation: animationPin 3s infinite;  }
	.icon { font-size: 120px; color: $azul-dark; }
}

.agenda-list { list-style: none; margin: 0; padding:0; }
.agenda-nav-item  { display: inline-block; margin-bottom: 8px; margin-right:8px;
	&.active {
		.agenda-nav-link { background-color: $azul-dark; color: $c-white;  }
	}
}
.agenda-nav-link { @include transition(); background: $c-gray-lighter; border-radius: 3px; color: $c-gray-text; display: inline-block; font-size: 14px; font-weight: bold; padding: 8px;
	&:hover { background: $azul-light; color: $c-white; text-decoration: none; }
}

.agenda-day-name { color: $azul-dark; font-size: 16px; font-weight: bold; margin-bottom: 0;  }
.agenda-day-date { color: $azul-dark; font-size: 28px; font-weight: bold; margin-bottom: 1em; }


.agenda-item { margin-bottom: 24px;
	&:last-of-type { margin-bottom: 0; } 
}
.agenda-time { font-family: Arial, Helvetica, sans-serif; font-weight: bold;  }
.agenda-item-content { border-left:1px dotted $azul-light; padding-left: 18px;
	h2 { font-size: 18px; margin-bottom: 16px; } 
	h3 { font-size: 14px; }
	a { font-size: 14px; }
}

.agenda-time-to { padding: 0 4px;  }
.agenda-speaker { display: block; padding: 8px;
	&:hover { text-decoration: none;  }
	.speaker-title { font-weight: bold; color: $azul-dark; }
	.speaker-name { display: block; color: $azul-dark;
		.icon { color: $azul-light; margin-right:8px;  }
	}
}
.loading { padding: 120px;
	img { margin:0 auto; display: block;  }
}

// -----------------------------
// -----------------------------
// Location
// -----------------------------
// -----------------------------
.location-box { @include sectionPadding(); background: $azul-light; color: $white; text-align: center;
	&.location-venue { background-color: $azul-dark;  }
	h3 { font-size: 24px; font-weight: bold;  }
	.icon { font-size: 48px; }
} 
.location-espe {
	h3 { color: $azul-dark-2;  }
	ul { list-style-type: none; margin: 0; padding: 0;  }
	li { display: inline-block; border-right: 1px solid $white; padding:0 6px;
		&:last-of-type{ border-right: none; padding-right:0; }
	}
}
.location-venue {
	h3 { color: $azul-light; }
}
// -----------------------------
// -----------------------------
// Jornadas Medicas
// -----------------------------
// -----------------------------
.jm-18 { @include sectionPadding(); text-align: center;
	.container { border-top: 1px dotted $c-border; padding-top: $section-padding; }
	h2 { color: $azul-dark; font-size: 28px; font-weight: bold; }
	video { margin: 40px 0; width: 100%; height: auto; }
}
// -----------------------------
// -----------------------------
// Footer
// -----------------------------
// -----------------------------
.footer { @include sectionPadding(); background: $c-footer; text-align: center;
	h3 { font-size: 24px; font-weight: bold;  }
	.ft-phone,
	.ft-mail { color: $c-gray-text; text-decoration: underline; font-weight: 700;  }
	.ft-legal { padding-top: 20px;  }
	.ft-privacidad {  color: $c-gray-light; display: block;
		@include media-breakpoint-up(md) { text-align: left;}
	}
	.ft-copy { color: $c-gray-light; display: block;
		@include media-breakpoint-up(md) { text-align: right;}
	}
}

.survey-header { background: #35A93F; color:white; text-align: center; padding: 28px 20px;

}