@import "normalize";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap');

$font-f: 'Nunito', sans-serif;

@keyframes bkgMove {
    0% { background-size: 100%; }
    50% { background-size: 140%; }
    100% { background-size: 100%; }
}

body { animation: bkgMove 20s ease-in infinite; font-family: $font-f; background: #409FD8 url(../img/background.jpg) center center no-repeat; background-size: 100%; color: #fff; text-align: center; padding:0  20px;  }

img { width: 100%; margin: 0 auto; display: block;  }

header { padding-top: 80px;  }

.logo { max-width: 250px; }  

.main-content { padding-top: 120px; max-width: 640px; margin: 0 auto;

	img { max-width: 490px; }
	h1 { font-size: 32px; font-weight: 900; font-family: $font-f; }
	h2 { font-size: 21px; margin-bottom: 2em; }
	.strikeout { text-decoration: line-through;  }
	a { text-decoration: underline; color: #fff; }
}

footer {
	ul { list-style-type: none; padding: 0;}
	li { font-size: 10px; margin-bottom: 8px  }
}

@media (min-width: 900px) {

	body { min-height: 720px; }

	.main-content {
		h1 { font-size: 48px; }
		h2 { font-size: 24px; }
	}

	footer { position: fixed; bottom: 0; width: 100%;
		ul { text-align: center;  }
		li { display: inline-block; padding: 0px 24px; }
	}

}