@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7mv7jg');
  src:  url('../fonts/icomoon.eot?7mv7jg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7mv7jg') format('truetype'),
    url('../fonts/icomoon.woff?7mv7jg') format('woff'),
    url('../fonts/icomoon.svg?7mv7jg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-e014-search:before {
  content: "\e014";
}
.icon-e015-menu:before {
  content: "\e015";
}
.icon-e000-analisis:before {
  content: "\e000";
}
.icon-e00A-flecha-derecha:before {
  content: "\e00a";
}
.icon-e00B-pin:before {
  content: "\e00b";
}
.icon-e00C-close:before {
  content: "\e00c";
}
.icon-e00D-question:before {
  content: "\e00d";
}
.icon-e00E-check:before {
  content: "\e00e";
}
.icon-e00F-edit:before {
  content: "\e00f";
}
.icon-e001-rayosx:before {
  content: "\e001";
}
.icon-e002-ultrasonido:before {
  content: "\e002";
}
.icon-e003-resonancia:before {
  content: "\e003";
}
.icon-e004-tomografia:before {
  content: "\e004";
}
.icon-e005-checkups:before {
  content: "\e005";
}
.icon-e006-checkups2:before {
  content: "\e006";
}
.icon-e007-sucursal:before {
  content: "\e007";
}
.icon-e008-mastografia:before {
  content: "\e008";
}
.icon-e013-otros-estudios:before {
  content: "\e012";
}
.icon-e009-flecha-atras:before {
  content: "\e009";
}
.icon-e010cart:before {
  content: "\e010";
}
.icon-e011-flecha-abajo:before {
  content: "\e011";
}
.icon-e012-flecha-arriba:before {
  content: "\e913";
}
