@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700&display=swap');
@import '_iconfont';

@mixin font-vs($w:500){
	font-family: 'Montserrat', sans-serif; font-weight: $w;
}

@mixin sectionPadding($p:80px){
	padding-top: $p; padding-bottom: $p;
}

$c-white:#fff;

$c-azulchopo: #007FC1;
$c-verde:#80BA27;

$c-vs-turquesa:#00A1A6;
$c-vs-azul:#007FC1;
$c-vs-marino:#005AA6;
$c-vs-cielo:#00A5D1;

$c-gray:#7F7F7F;

.vs-lp { @include font-vs(); }

a.hd-choposite { font-size: 12px; display: block; text-align: center; color: $c-white; padding: 2em 0 1em; opacity: 0.7;
	&:hover { opacity: 1;  }
} 
.vs-header { background: url(../img/bkg-header.svg) no-repeat top center; background-size: cover;
	h2 { color: $c-white; font-size: 32px; font-weight: 300; text-align: center; margin: 1.5em 0 2em; display: block; }
	.tarjeta-vs { margin: 0 auto;  }

}

.vs-logo { display: block; margin: 0 auto; max-width: 245px  }

.tarjeta-vs { box-shadow: 3px 5px 3px rgba(0, 0, 0, 0.4); border-radius: 25px; display: block; max-width: 400px; width: 100%; } 

.vs-images {
	h3 { color: $c-vs-marino; font-size: 24px; text-align: center; padding: 60px; font-weight: 300;
		br { display: none; }
	}
	.vs-image-1 { background: url(../img/vs-pic-1.png) no-repeat top center; background-size: cover; }
	.vs-image-2 { background: url(../img/vs-pic-2.png) no-repeat top center; background-size: cover; }
	img { max-height: 333px; width: 100%; max-width: 480px; }
}

.vs-vidasana {
	.vs-article-title { background: url(../img/bkg-title-vs.svg) no-repeat top center; background-size: cover;
		h2 { color: $c-white; padding: 1em 0; font-size: 32px; font-weight: 300;  }
	}
	.vs-article-content { color: $c-gray; @include sectionPadding();
		h3 { font-weight: 300; margin-bottom: 2em;
			strong { font-weight: 500; }
		}
		.vs-content-text {
			@media (min-width: 768px) { padding-top:80px;  } 
		}
	}
}

.vs-beneficios { background: $c-vs-marino; color:$c-white; @include sectionPadding(); padding-bottom: 0;
	
	h3, h4 { text-align: center; }
	h3 { font-size: 40px; font-weight: 300; }
	h4 { font-size: 18px; margin-bottom: 70px; }

	.vs-beneficios-1 { background: $c-vs-azul; }
	.vs-beneficios-2 { background: $c-verde; }
	.vs-beneficios-3 { background: $c-vs-turquesa; }

	.vs-beneficios-box { text-align: center;
		span { font-size: 60px; color: $c-verde;}
	}
	.vs-beneficios-discount { font-size: 36px; font-weight: 700; margin-top: 24px; }

	.vs-beneficios-row { margin-bottom: 60px;  }

	.vs-beneficios-sec { padding: 40px; text-align: center;
		h5 { font-size: 32px; font-weight: 700;  } 
	}

	.vs-beneficios-2 {
		p { font-size: 21px; font-weight: 700;  }
	} 

}

.vs-beneficios-stores { text-align: center; @include sectionPadding(20px);
	p { display: block; color: $c-vs-turquesa; }
	h5 { display: block; font-weight: 700;  }
}

.vs-alianzas { @include sectionPadding(); text-align: center; border-bottom: 1px dotted $c-gray;
	h2 { color: $c-azulchopo; font-size: 24px; font-weight: bold; }
	p { font-size: 14px; color: $c-gray;  }
	h4 { color: $c-vs-turquesa; font-size: 18px; font-weight: bold; }
	img { display: block; margin: 40px auto;  }
	.modal-dialog {text-align:left;}
}

.alianzas-logos { margin-top: 40px;  }

.vs-link-alianza-1 img { max-width: 100px;  }
.vs-link-alianza-2 img { max-width: 194px;  }
.vs-link-alianza-3 img { max-width: 239px;  }


.vs-discounts { @include sectionPadding();
	h3 { text-align: center; font-size: 28px; color: $c-vs-azul; display: block; margin-bottom: 3em;
		strong { display: block; }
	}
	.vs-discount-box { text-align: center; margin-bottom: 40px;
		li { font-size: 14px; color: $c-gray; margin-bottom: 6px; text-align: left; }
		span { font-size: 80px; color: $c-verde; padding-bottom: 60px; display: inline-block;}
	}
	p { text-align: center; font-size: 21px; font-weight: 500; color: $c-vs-azul; margin-top: 3em;
		a { color: $c-vs-azul; font-weight: 700; text-decoration: underline; display: inline-block;  }
	}
}


.vs-footer { background: $c-azulchopo; color: $c-white; @include sectionPadding();
	.legales {
		 p {  font-size: 10px; }
		 a { text-decoration: underline; color: $c-white; }
	}
	h5 { display: block; margin: 4em 0 2em; text-align: center; }
	.tarjeta-vs { margin-bottom: 40px;  }
	.vs-cta-box {
		a { border-radius: 50px; background: $c-verde; color: $c-white; text-align: center; font-weight: 700; padding: 20px 35px; text-transform: uppercase; margin-top: 16px; display: inline-block;
			&:hover { text-decoration: none; transform: scale(1.1); transition: transform 0.5s ease-in;  }
		}
	}
	.ft-tc { font-size: 14px; text-align: center; margin-bottom: 4em;
		a { color: $c-white; }
	}
}

.vs-test-table { width: 100%;  }

@media (min-width: 768px) {
	
	.vs-images {
		h3 { font-size: 21px; padding: 120px;
			br { display: block; }
		}
	}

	.vs-discounts {
		.vs-discount-box { margin-bottom: 0px; }
	}

	.vs-footer {
		.tarjeta-vs { margin-bottom: 0px;  }
	}
} 

@media (min-width: 992px) {

	.vs-header { position: relative; padding-bottom: 120px;
		.tarjeta-vs { bottom: -120px; left: 50%; margin-left:-200px; position: absolute; z-index: 2;  }
	}

	.vs-images {
		h3 { font-size: 32px; padding-bottom: 80px; padding-top: 180px;}
	}

	.vs-footer {
		.tarjeta-vs { margin-top: 40px;  }
	}
	
}
